__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
.git
.gitignore
.dvc
*.log
.DS_Store
data/raw/*
data/processed/*
chroma_backup/
chroma_db_backup.zip
.pytest_cache
airflow/
backend/.cache/
backend/chroma_data_backup*/
backend/other_data/*.json
backend/other_data/*.geojson
backend/other_data/*properties*.csv
backend/other_data/*mbta*.csv
backend/other_data/*schools*.csv
backend/other_data/*crime*.csv
backend/other_data/*yelp*.csv
.cache/
chroma_data_backup*/
other_data/*.json
other_data/*.geojson
other_data/*properties*.csv
other_data/*mbta*.csv
other_data/*schools*.csv
other_data/*crime*.csv
other_data/*yelp*.csv
